.Tab {
  &__header {
    display: flex;
    gap: 2px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: $main-color-selected 0 -1px 0 0 inset;

    &__button {
      width: 100%;
      padding: 0.5rem 1.5rem;
      font-weight: bold;
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-bottom: 3px solid transparent;

      &--active {
        color: $main-color-selected;
        background-color: white;
        border-bottom: 3px solid $main-color-selected;
      }
    }
  }
}
